@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
}
:root{
    --cor01:#c5ebd6;
    --cor02:#83e1ad;
    --cor03:#3ddc84;
    --cor04:#2fa866;
    --cor05:#1a5c37;
    --cor06:#063d1e;

    --fonte-padrao: Verdana, Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;    
    --fonte-android:'Android', cursive;
}   
/*o asteristico * é usado como uma variavel global para todos os elementos do html*/
*{
    margin: 0%;
    padding: 0%;
}

body {
background-color:var(--cor01);
font-family: var(--fonte-padrao);

}

a.externo::after{
    content: '\1f517';
}


header{
background-image:linear-gradient(to bottom, var(--cor04), var(--cor05));
text-align: center;
min-height: 150px;
padding-top: 30px;
}
    
header > h1{
padding-bottom: 20px;
font-size: 3em;
color: white;
font-family: var(--fonte-destaque);
}
header > p {
    font-size: 1.2em;
    max-width: 800px; /* faz a tag em questão virar um bloco dai tem que colocar  margin auto pra centralizar*/
    margin: auto;
color: white;
}
nav{
    padding: 10px;
    box-shadow: 0.5px 6px 10px 0px rgba(0, 0, 0, 0.425);
    background-image:linear-gradient(to bottom, var(--cor05), var(--cor06));
}
nav > a{ /*o sinal de > indica que somente as a dentro do nav sofreram alterações. sem o sinal de > todos os a dentro de outras tag dentro do nav sofreriam alterações*/
    padding: 10px;
    color:white;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: var(--cor04);
    color: var(--cor05);
    border-radius:10px 10px 0px 0px;
    
}
.pequena{
max-width: 500px ;
display: block;
margin: auto;

}
main{
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    min-width: 320px;
    max-width: 900px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}
main img{
width: 100%;

}
main h1{
color:var(--cor05);
font-family: var(--fonte-android);
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 5px;
    
}
main strong{
    font-size: bold;
    color: var(--cor05);
}
main h2{
color: var(--cor05);
font-family: var(--fonte-android);
background-image: linear-gradient( to right, var(--cor01), transparent);

}
main a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor05);

}    
main a:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    color: var(--cor03);
}
aside{
background-color: var(--cor02);
border-radius: 10px;
padding: 5px;
box-shadow: 1.5px 3px 5px rgb(104, 184, 29);

}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type:'\2714\00a0';
}
aside h3{
background-color: var(--cor05);
color: whitesmoke;
margin: -5px -5px 0px -5px;
border-radius: 10px 10px 0px 0px;
padding: 10px;

}
div.video{
    background-color: var(--cor05);
    padding: 10px;
    margin: -10px -20px 20px -20px;
    position: relative;
    padding-bottom: 1%;
}
div.video > iframe{
position: absolute;
top: 5%;
right: 5%;
width: 90%;
height: 90%;

}
footer{
    background-color: var(--cor06);
    font-size:12px;
    color: white;
    text-align: center;
    padding: 5px;
}
footer strong{
    color: var(--cor04);
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor04);
}
footer a:hover{
    text-decoration: underline;
    transition-duration: 5ms;
    color: var(--cor05);
}